<%= stylesheet_link_tag "bootstrap" %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"> 
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<!DOCTYPE HTML>
<div class="container">
  <div class="row">
    <h1>Manage Scenarios</h1>
  </div>
  <div class="row">
    <%= link_to 'Back', :back %>
  </div>
  <div class="row">
    <%= link_to 'Create a new scenario', { :controller => 'scenarios', :action => 'new' } %><br><br>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= label_tag :family  %>
      <%= select_tag(:family_id, options_from_collection_for_select(@families, :id, :name), { class: 'form-control', :id => 'scenarios_families_select' })  %>
    </div>
  </div>
  <div class="row">
    <p>Current user: <%= current_user.email %></p>
  </div>
  <div class="row">
    <table id="scenarios_table" class="table table-hover">
      <%= render :partial => "scenarios_table" %>
    </table>
  </div>
</div>


<script>
$(document).ready(function() {
    $('#scenarios_table').DataTable();
} );
</script>

<%= javascript_include_tag "scenarios" %>
