<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "signin" %>

<%= render 'modals' %>

<div class="form-signin">
  <div class="row">
    <%= link_to "Home", root_path %>
  </div>
  <div class="row">
    <%= link_to "Scenarios", scenarios_path %>
  </div>
  <h2 class="row form-signin-heading">New Scenario</h2> 
  <%= form_for Scenario.new, :html => {:class => "row hidden", :id =>'form_family_options'} do |f| %>
        <%= f.label :family %>
        <%= f.collection_select :family_id, Family.where(:user_id => current_user.id), :id, :encrypted_name, {}, { class: 'form-control', :id => 'scenarios_form_families_select' }  %>
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control' %>
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control' %>
        </br>
        </br>
        <%= f.submit "Create Scenario", :class => 'btn btn-primary' %>
  <% end %>
</div>

<script>
$(document).ready(function() {
    $('#decModalScenarioForm').modal('show');
} );
</script>

<%= javascript_include_tag "scenarios" %>
