<!--<h1>Reset Password</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Update Password" %></div>
<% end %>
-->


<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "signin" %>

<%=form_tag password_reset_path, :class => 'form-signin' do%>
<%= link_to "Back", "/" %>
<h2 class="form-signin-heading">Change Your Password</h2>
  <%=label_tag "New Password" %>
  <%=password_field_tag :newpassword, nil, :class => 'form-control' %>
  <%=label_tag 'Confirm Password' %>
  <%=password_field_tag :newpassword2, nil, :class => 'form-control' %>
  <br>
<%=submit_tag "Change Password", :class => "btn btn-primary" %>
<%end%>