<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "joint" %>
<%= stylesheet_link_tag "fmaps", media: "all" %>

<%= javascript_include_tag "aes" %>
<%= javascript_include_tag "enc-base64-min" %>


<!-- Modal for square and oval -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Shape</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="name">Text:</label>
			<textarea class="form-control" rows="2" id="name" name="name"></textarea>
		</div>
		<div class="form-group">
			<form role="form">
			<label for="red">Shape Color:</label><br>
				<label class="radio-inline">
					<input type="radio" name="optradio" value="#FF8A8A" id="red">Red
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio" value="#FFFFAA" id="yellow">Yellow
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio" value="#86BCFF" id="blue">Blue
					</label>
					<br>
				<label class="radio-inline">
					<input type="radio" name="optradio" value="#FFAC62" id="orange">Orange
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio" value="#4AE371" id="green" checked>Green
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio" value="#B89AFE" id="violet">Violet
					</label>
			</form>
		</div>
		<div class="form-group">
			<form role="form">
				<label for="normal">Text Style:</label><br>
				<label class="radio-inline">
					<input type="radio" name="optradio3" value="0" id="normal" checked>Normal
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio3" value="1" id="bold">Bold
				</label>
				<label class="radio-inline">
					<input type="radio" name="optradio3" value="2" id="italics">Italics
					</label>
			</form>
		</div>
			<br><button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Comments <span class="glyphicon glyphicon-chevron-down"></span></button>
			<div class="collapse" id="collapseExample"><br>
				<div class="well">
					<div class="form-group">
						<label for="comments">Comments:</label>
						<textarea class="form-control" rows="4" id="comments" name="comments"></textarea>
					</div>
				</div>
			</div>
      </div>
      <div class="modal-footer">
		<div style="float:left;color:#737373;line-height: 34px;">
			<button type="button" class="btn btn-danger" onclick="remove_shape()">Delete</button>
		</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="div_hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for diamond -->
<div class="modal fade" id="diaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Shape</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="name">Feelings:</label><br>
			<input type="checkbox" id="angry">Angry
			<input type="checkbox" id="sad">Sad
			<input type="checkbox" id="happy">Happy<br>
			<input type="checkbox" id="aroused">Aroused
			<input type="checkbox" id="worried">Worried
			<input type="checkbox" id="lonely">Lonely<br>
			<input type="checkbox" id="ashamed">Ashamed
			<input type="checkbox" id="guilty">Guilty
			<input type="checkbox" id="discomfort">Physical Discomfort
		</div>

		<div class="form-group">
			<form role="form">
				<label class="radio-inline">
					<input type="radio" name="radioDiaColor" value="#FF8A8A" id="dia_red">Red
				</label>
				<label class="radio-inline">
					<input type="radio" name="radioDiaColor" value="#FFFFAA" id="dia_yellow">Yellow
				</label>
				<label class="radio-inline">
					<input type="radio" name="radioDiaColor" value="#86BCFF" id="dia_blue">Blue
					</label>
					<br>
				<label class="radio-inline">
					<input type="radio" name="radioDiaColor" value="#FFAC62" id="dia_orange">Orange
				</label>
				<label class="radio-inline">
					<input type="radio" name="radioDiaColor" value="#4AE371" id="dia_green" checked>Green
				</label>
				<label class="radio-inline">
					<input type="radio" name="radioDiaColor" value="#B89AFE" id="dia_violet">Violet
					</label>
			</form>
		</div>
		<br><button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Comments <span class="glyphicon glyphicon-chevron-down"></span></button>
			<div class="collapse" id="collapseExample2"><br>
				<div class="well">
					<div class="form-group">
						<label for="comments2">Comments:</label>
						<textarea class="form-control" rows="4" id="comments2" name="comments2"></textarea>
					</div>
				</div>
			</div>
      </div>
      <div class="modal-footer">
		<div style="float:left;color:#737373;line-height: 34px;">
			<button type="button" class="btn btn-danger" onclick="remove_dia()">Delete</button>
		</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="div_hide_dia()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for save -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveModalLabel">Save</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<%= simple_form_for @fmap, remote: true do |f|        %>
			  <% if @fmap.errors.any? %>
				<div id="error_explanation">
				<h2><%= pluralize(@fmap.errors.count, "error") %> prohibited this map from being saved:</h2>
			<ul>
				<% @fmap.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
			</div>
			<% end %>
				<%= f.input        :title,  input_html: { class: 'form-control' }     %>
				<%= f.hidden_field :json %>
				<%= f.input        :version,  input_html: { class: 'form-control' }     %>
				<%= f.input        :username, input_html: { value: current_user.email, class: 'form-control' }, readonly: true  %>
				<%= f.input        :family,  input_html: { class: 'form-control' }      %>
				<%= f.input        :extra, label: 'Clinician',  input_html: { class: 'form-control' }       %>
				<%= f.input        :notes,  input_html: { class: 'form-control' }       %>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.button :submit, "Update Saved Family Map", class: "btn btn-primary", :onclick => "save_to_database()" %>
				</div>
			<% end %>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for save as new-->
<div class="modal fade" id="saveNewModal" tabindex="-1" role="dialog" aria-labelledby="saveNewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveNewModalLabel">Save</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<%= simple_form_for @zmap, remote: true do |f|        %>
			  <% if @zmap.errors.any? %>
				<div id="error_explanation">
				<h2><%= pluralize(@zmap.errors.count, "error") %> prohibited this map from being saved:</h2>
			<ul>
				<% @zmap.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
			</div>
			<% end %>
				<%= f.input        :title,  input_html: { class: 'form-control', id: 'new_title' }     %>
				<%= f.input        :json,  input_html: { class: 'form-control', id: 'new_json' }, readonly: true  %>
				<%= f.input        :version,  input_html: { class: 'form-control', id: 'new_version' }     %>
				<%= f.input        :username, input_html: { value: current_user.email, class: 'form-control', id: 'new_username' }, readonly: true  %>
				<%= f.input        :family,  input_html: { class: 'form-control', id: 'new_family' }      %>
				<%= f.input        :extra, label: 'Clinician',  input_html: { class: 'form-control', id: 'new_extra' }       %>
				<%= f.input        :notes,  input_html: { class: 'form-control', id: 'new_notes' }       %>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.button :submit, "Save New Family Map", class: "btn btn-primary", :onclick => "save_to_database_as_new()" %>
				</div>
			<% end %>
		</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for password seed -->
<div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-labelledby="passModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passModalLabel">Map Password</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="pw">Map Password:</label>
			<input type="password" class="form-control" id="pw" name="pw"></input>
			<label for="pwCon">Password Confirmation:</label>
			<input type="password" class="form-control" id="pwCon" name="pwCon"></input>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="save_proceed()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for password seed Save As -->
<div class="modal fade" id="passNewModal" tabindex="-1" role="dialog" aria-labelledby="passNewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passNewModalLabel">Map Password</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="pwNew">Map Password:</label>
			<input type="password" class="form-control" id="pwNew" name="pwNew"></input>
			<label for="pwConNew">Password Confirmation:</label>
			<input type="password" class="form-control" id="pwConNew" name="pwConNew"></input>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="save_proceed_new()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for password decrypt -->
<div class="modal fade" id="decModal" tabindex="-1" role="dialog" aria-labelledby="decModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="decModalLabel">Map Password</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="dec">Map Password:</label>
			<input type="password" class="form-control" id="dec" name="dec"></input>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="redirect_new()">Close</button>
        <button type="button" class="btn btn-primary" onClick="make_graph()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for arrow options -->
<div class="modal fade" id="arrowModal" tabindex="-1" role="dialog" aria-labelledby="arrowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="arrowModalLabel">Arrow Configuration</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<form role="form">
			<label>Arrow Head:</label><br>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio" value="1" id="oneHead" checked>One Arrow Head
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio" value="2" id="twoHead">Two Arrow Head
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio" value="0" id="noHead">No Arrow Head
					</label>
					<br>
			<br><label>Arrow Body:</label><br>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio2" value="0" id="solidArrow" checked>Solid Arrow
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio2" value="1" id="dashedArrow">Dashed Arrow
				</label><br>
			<br><label>Arrow Color:</label><br>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#333333" id="blackArrow" checked>Black
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#FF7575" id="redArrow">Red
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#77DD77" id="greenArrow">Green
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#FDFD96" id="yellowArrow">Yellow
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#B4CFEC" id="blueArrow">Blue
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#FFB347" id="orangeArrow">Orange
				</label>
				<label class="radio-inline">
					<input type="radio" name="arrowOptRadio3" value="#B19CD9" id="violetArrow">Violet
				</label
					<br>
			</form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="div_arrow_hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for TXT Export -->
<div class="modal fade" id="txtModal" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download Encrypted Map</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="">File Name to Save As:</label>
			<input class="form-control" id="fileName" name="fileName"></input>
		</div>
		<div>
			<p>Please enter a file name to save the shareable map. The file name must start with a valid character and end with '.txt'.</p>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="download()">Download</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for TXT Export -->
<div class="modal fade" id="txtModal" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download Encrypted Map</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="">File Name to Save As:</label>
			<input class="form-control" id="fileName" name="fileName"></input>
		</div>
		<div>
			<p>Please enter a file name to save the shareable map. The file name must start with a valid character and end with '.txt'.</p>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="download()">Download</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for TXT import -->
<div class="modal fade" id="txtImportModal" tabindex="-1" role="dialog" aria-labelledby="txtImportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="txtImportModalLabel">Upload Encrypted Map</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="">Select a File to Load:</label>
			<input type="file" id="fileToLoad">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="loadFileAsText()">Load Selected File</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for password txt download -->
<div class="modal fade" id="passTxtDownloadModal" tabindex="-1" role="dialog" aria-labelledby="passTxtDownloadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passTxtDownloadModalLabel">Text File Password</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="txtPW">Text File Password:</label>
			<input type="password" class="form-control" id="txtPW" name="txtPW"></input>
			<label for="txtPWCon">Password Confirmation:</label>
			<input type="password" class="form-control" id="txtPWCon" name="txtPWCon"></input>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="div_txt_show()">Proceed</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for password txt upload -->
<div class="modal fade" id="passTxtUploadModal" tabindex="-1" role="dialog" aria-labelledby="passTxtUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="passTxtUploadModalLabel">Text File Password</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="txtPW">Text File Password:</label>
			<input type="password" class="form-control" id="txtUpPW" name="txtUpPW"></input>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="div_chooser_show()">Proceed</button>
      </div>
    </div>
  </div>
</div>

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Family Interaction Map</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
			<div class="nav navbar-nav">
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
				  <li><%= link_to 'New', {:controller => 'fmaps', :action => 'new'}, data: { confirm: 'Are you sure? All unsaved changes will be lost.' } %></li>
                  <li id="save_dropdown"><a href="#" onclick="save_to_database_prep()">Save</a></li>
				  <!-- <li><a href="#" onclick="save_to_database_new_prep()">Save As...</a></li> -->
				  <!-- Save as commented out - still bugged in that after doing save as you're still editing the original document-->
				  <li><%= link_to 'Load', {:controller => 'fmaps'}, data: { confirm: 'Are you sure? All unsaved changes will be lost.' } %></li>
				  <li><%= link_to 'Exit', {:controller => 'welcome', :action => 'index'}, data: { confirm: 'Are you sure? All unsaved changes will be lost.'} %></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Export</li>
                  <li><a href="#" onclick="window.print()"; >Print</a></li>
				  <li><a href="#" onclick="div_txt_pw_show()"; >Download Map For Sharing</a></li>
				  <li><a href="#" onclick="div_txt_imp_show()"; >Upload Shared Map</a></li>
                </ul>
              </li>
            </div>
				<button type="button" class="btn btn-default navbar-btn" onclick="add_oval()">Oval - Action</button>
				<button type="button" class="btn btn-default navbar-btn" onclick="add_diamond()">Diamond - Feeling</button>
				<button type="button" class="btn btn-default navbar-btn" onclick="add_square()">Square - Thought</button>
				<span id="arrow_note" style="color: red; display: none; font-size: 18px;">Click on two different elements to create an Arrow, or you can cancel by clicking the Cancel button to the right.</span>
				<div class="navbar-right">
				<button type="button" class="btn btn-default navbar-btn" id="arrowOptionsButton" onclick="clickToLink()">Add Arrow</button>
				<button type="button" class="btn btn-default navbar-btn" id="undo"><span class="glyphicon glyphicon-arrow-left"></span> Undo</button>
				<button type="button" class="btn btn-default navbar-btn" id="redo">Redo <span class="glyphicon glyphicon-arrow-right"></span></button>
				</div>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<div class="container-fluid">
  <div class="row">
	
    <div class="col-sm-12" style="background-color:#E0E0EB;">
	
	<div id="paper"> </div>
	
	</div>
  </div>
</div>

</body>

<%= javascript_include_tag "jquery-1.11.1.min" %>
<%= javascript_include_tag "lodash.min" %>
<%= javascript_include_tag "backbone-min" %>
<%= javascript_include_tag "joint" %>
<%= javascript_include_tag "custom-shapes" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "joint.dia.command" %>
<%= javascript_include_tag "joint.shapes.erd" %>

<%= javascript_include_tag "index" %>

</html>
