<%= stylesheet_link_tag "bootstrap" %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"> 
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<!DOCTYPE HTML>
<div class="container">
  <div class="row">
    <h1>Load an existing Family Interaction Map</h1>
  </div>
  <div class="row">
    <%= link_to 'Create a new Family Interaction Map', new_fmap_path %><br><br>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= label_tag :family  %>
      <%= select_tag(:family_id, options_from_collection_for_select(@families, :id, :encrypted_name), { class: 'form-control', :id => 'fmaps_families_select' })  %>
      <%= label_tag :scenario %>
      <%= select_tag(:scenario_id, options_from_collection_for_select(@scenarios, :id, :title), { class: 'form-control', :id => 'fmaps_scenarios_select' })  %>
    </div>
  </div>
  <div class="row">
    <p>Current user: <%= current_user.email %></p>
  </div>
  <div class="row">
    <table id="load-familymaps-table" class="table table-hover">
      <%= render :partial => "family_map_table" %>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#load-familymaps-table').DataTable();
} );
</script>

<%= javascript_include_tag "scenarios" %>
<%= javascript_include_tag "fmaps" %>
