<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "signin" %>

<div class="container">
  <h1>New Family Map</h1>
  <%= link_to "Home", root_path %>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= link_to 'Families', {:controller => 'families'} %></h3>
        </div>
        <div class="panel-body">
          Click here to view and manage your current families.
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3><%= link_to 'Scenarios', {:controller => 'scenarios'} %></h3>
          </div>
          <div class="panel-body">
            Click here to view and manage your current scenario.
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <%= link_to 'Continue to Family Map', {:controller => 'fmaps', :action => 'new'}, :class => 'btn btn-primary pull-right' %>
  </div>
</div>
