<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "signin" %>

<%= javascript_include_tag "aes" %>
<%= javascript_include_tag "enc-base64-min" %>

<div class="form-signin">
  <div class="row">
    <%= link_to "Home", root_path %>
  </div>
  <div class="row">
    <%= link_to "Families", families_path %>
  </div>
  <h2 class="row form-signin-heading">New Family</h2>

  <%= form_for Family.new, :html => {:class => 'row', :id => 'form_family'} do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, :class => 'form-control' %>
        <%= f.hidden_field :encrypted_name, :id => 'encrypted_name' %>
        <%= f.label :user %>
        <%= f.text_field :username, :value => current_user.email, :readonly => true, :class => 'form-control', :id => 'username' %>
        <%= f.label :password %>
        <%= f.password_field :password, :class => 'form-control', :id => 'password' %>
        </br>
        </br>
        <%= f.submit "Create Family", :class => 'btn btn-primary' %>
  <% end %>
</div>

<%= javascript_include_tag "families" %>
