<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "signin" %>

<%=form_tag log_in_path, :class => 'form-signin' do%>
<h2 class="form-signin-heading">Change Your Password</h2>
	<%=label_tag "Current Password" %>
	<%=password_field_tag :password, nil, :class => 'form-control' %>
	<br>
	<%=label_tag "New Password" %>
	<%=password_field_tag :newpassword, nil, :class => 'form-control' %>
	<%=label_tag 'Confirm Password' %>
	<%=password_field_tag :newpassword2, nil, :class => 'form-control' %>
	<br>
<%=submit_tag "Change Password", :class => "btn btn-primary" %>
<%end%>